<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    <property name="LOG_DEFAULT_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>-->
<!--    <property name="LOG_WARN_PATTERN" value="%d{ISO8601} %-5p [%t] %X{conversation} [client:%X{username:&#45;&#45;}] [extras:[%X{extras:&#45;&#45;}]] [%logger{40}] : %m%n%ex"/>-->
<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>logs/app.log</file>-->
<!--        <append>true</append>-->
<!--        <encoder>-->
<!--            <pattern>${LOG_DEFAULT_PATTERN}</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <appender name="WARN_FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>logs/appWarn.log</file>-->
<!--        <append>true</append>-->
<!--        <encoder>-->
<!--            <pattern>${LOG_WARN_PATTERN}</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>${LOG_DEFAULT_PATTERN}</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <logger name="by.tms" level="WARN">-->
<!--        <appender-ref ref="WARN_FILE"/>-->
<!--    </logger>-->
<!--    <root level="INFO">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </root>-->
<!--    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />-->
</configuration>