<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EShop</title>
    <th:block th:insert="~{/include/bootstrap}"/>
</head>
<body>
<!--<body style="background: #243855">-->
<th:block th:insert="~{/include/navigate}"/>
<!--<div class="card-deck w-25 ml-5 mt-5">-->
<!--    <div class="card">-->
<!--        <div class="card-header bg-danger text-white text-center text-nowrap">TV</div>-->
<!--        <a href="/products-page?type=tv">-->
<!--            <img class="card-img-top" src="/images/tv.jpg" alt="TV">-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="card">-->
<!--        <div class="card-header bg-danger text-white text-center text-nowrap">Phone</div>-->
<!--        <a href="/products-page?type=phone">-->
<!--            <img class="card-img-top" src="/images/phone.jpg" alt="Phone">-->
<!--        </a>-->
<!--    </div>-->
<!--</div>-->

<div class="row row-cols-1 row-cols-md-4 g-4 mr-2 ml-2 mt-2">
    <div th:each="productType : ${productTypes}" class="card mr-3 ml-3 mt-3 shadow bg-body-tertiary rounded"
         style="max-width: 14rem">
        <div class="card-header bg-danger text-white text-center" th:text="${productType}"></div>
        <a th:href="@{/products-page(type=${productType})}">
            <img class="card-img-top" th:src="@{/images/__${#strings.toLowerCase(productType)}__.jpg}" th:alt="${productType}">
        </a>
    </div>
</div>
</body>
</html>